Django>=5.0
djangorestframework>=3.14
python-dotenv>=1.0.0
anthropic>=0.20.0
pillow>=10.0.0
dj-database-url>=2.1.0
psycopg2-binary>=2.9.0
asgiref
certifi
anyio
distro
h11
httpcore
httpx
idna
jiter
pydantic
pydantic_core
sniffio
sqlparse
typing_extensions
tzdata
